[Unit]
Description=Smart Signage Agent
After=network.target

[Service]
WorkingDirectory=/home/pi/signage
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /home/pi/signage/socket_client.py
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target
